.hangman-graphic {
  display: flex;
  justify-content: center;
  margin: 20px;
}

.hangman-graphic div {
  width: 20px;
  height: 20px;
  background-color: #333;
  margin: 0 5px;
  border-radius: 50%;
}

.top-bar {
  height: 10px;
  width: 200px;
  background: black;
  margin-left: 120px;
}

.vertical-bar {
  height: 350px;
  width: 10px;
  background: black;
  margin-left: 120px;
}

.bottom-bar {
  height: 10px;
  width: 250px;
  background: black;
}

.hanging-rope {
  height: 50px;
  width: 10px;
  background: black;
  position: absolute;
  top: 0;
  right: 0;
}

.body-position {
  position: relative;
  margin-top: 70px;
}

/* Hangman Body Parts*/
.head {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  border: 10px solid black;
  position: absolute;
  top: 50px;
  right: -30px;
}

.body {
  width: 10px;
  height: 100px;
  background: black;
  position: absolute;
  top: 120px;
  right: 0;
}

.right-arm {
  width: 100px;
  height: 10px;
  background: black;
  position: absolute;
  top: 150px;
  right: -100px;
  rotate: -30deg;
  transform-origin: left bottom;
}

.left-arm {
  width: 100px;
  height: 10px;
  background: black;
  position: absolute;
  top: 150px;
  right: 10px;
  rotate: 30deg;
  transform-origin: right bottom;
}

.right-leg {
  width: 100px;
  height: 10px;
  background: black;
  position: absolute;
  top: 210px;
  right: -90px;
  rotate: 60deg;
  transform-origin: left bottom;
}

.left-leg {
  width: 100px;
  height: 10px;
  background: black;
  position: absolute;
  top: 210px;
  right: 0;
  rotate: -60deg;
  transform-origin: right bottom;
}
